<header>
    <table style="float:right; margin-top:-150px;">
      <thead>
        <th>
          <% if session["access_token"] %>
            <a href="@profile"><p>profile.&nbsp;//</p></a>
        </th>
          <% end %>
      </thead>
    </table>
</header>



<div class="widget-wrapper">
  <div class="anchors">
  1010 WINS
  <br><br>
  <div class="strong5"><strong>Weather Anchor: </strong></div>Carl Babinski
  <br><br>
  <div class="strong5"><strong>Sports Anchor: </strong></div>Marc Ernay
  <br><br>
  <div class="strong5"><strong>Business Anchor: </strong></div>Larry Kofsky
  <br><br>
  <div class="strong5"><strong>Traffic Reporter: </strong></div>Pete Tauriello
  <br><br>
  <div class="strong5"><strong>Field Reporter Lead: </strong></div>John Montone
  <br><br>
  <div class="strong5"><strong>Field Reporter: </strong></div>Al Jones



  </div>

  <div class="congress widget">
    <% if @user["senate_bills"] %>
      <div id="one" class="senate sub-widget">
            Senate Bills<br>
        Bill Description:
        <%= @times_senate["results"]["votes"][0]["description"]%>
        <br><br>
        <div class="strong3">Democratic Vote<br></div>
        Yes: <%= @times_senate["results"]["votes"][0]["democratic"]["yes"]%>
        No: <%= @times_senate["results"]["votes"][0]["democratic"]["no"]%>
        <br><br>
        <div class="strong4">Republican Vote<br></div>
        Yes: <%= @times_senate["results"]["votes"][0]["republican"]["yes"]%>
        No: <%= @times_senate["results"]["votes"][0]["republican"]["no"]%>
        <br><br>
        Result:
        <%= @times_senate["results"]["votes"][0]["result"]%>
        <br><br><br>
      </div>
    <% end %>

    <% if @user["house_bills"] %>
      <div id="two" class="house sub-widget">
        House Bills<br>
        Bill Description:
        <%= @times_house["results"]["votes"][0]["description"]%>
        <br><br>
        <div class="strong3">Democratic Vote<br></div>
        Yes: <%= @times_house["results"]["votes"][0]["democratic"]["yes"]%>
        No: <%= @times_house["results"]["votes"][0]["democratic"]["no"]%>
        <br><br>
        <div class="strong4">Republican Vote<br></div>
        Yes: <%= @times_house["results"]["votes"][0]["republican"]["yes"]%>
        No: <%= @times_house["results"]["votes"][0]["republican"]["no"]%>
        <br><br>
        Result:
        <%= @times_house["results"]["votes"][0]["result"]%>
      </div>
    <% end %>
  </div>

    <% if @user["weather"] %>
      <div id="three" class="weather widget">
        <% forecast = @wunderground_response["forecast"]["txt_forecast"]["forecastday"].first(12) %>
        <ul>

                 Five Day Forecast<br><br>

          <div class="strong2"><%=forecast[0]["title"]%>:</div>
          <%=forecast[0]["fcttext"]%>
        <br>

          <div class="strong2"><%=forecast[2]["title"]%>:</div>
          <%=forecast[2]["fcttext"]%>
        <br>
          <div class="strong2"><%=forecast[4]["title"]%>:</div>
          <%=forecast[4]["fcttext"]%>
        <br>
          <div class="strong2"><%=forecast[6]["title"]%>:</div>
          <%=forecast[6]["fcttext"]%>
        <br>
          <div class="strong2"><%=forecast[8]["title"]%>:</div>
          <%=forecast[8]["fcttext"]%>

        </ul>
      </div>
    <% end %>



    <% if @user["top_stocks"] %>
      <div id="four" class="stocks widget">
        Top Stocks:
        <br><br>

        <div class="strong6"><strong>S&P: </strong></div><%=@data[6].last_trade_price%> <%=@data[6].change%>
        <br><br>
        <div class="strong6"><strong>NASDAQ: </strong></div><%=@data[7].last_trade_price%> <%=@data[7].change%>
        <br><br>
        <div class="strong6"><strong>GOOGLE: </strong></div><%=@data[0].last_trade_price%> <%=@data[0].change%>
        <br><br>
        <div class="strong6"><strong>APPLE: </strong></div><%=@data[1].last_trade_price%> <%=@data[1].change%>
        <br><br>
        <div class="strong6"><strong>MICROSOFT: </strong></div><%=@data[4].last_trade_price%> <%=@data[4].change%>
        <br><br>
        <div class="strong6"><strong>TWITTER: </strong></div><%=@data[3].last_trade_price%> <%=@data[3].change%>

      </div>
    <% end %>


    <% if @user["twitter"] %>
      <div id="five">
        <% @tweets.each do |tweet|%>
        <%= tweet %>
        <% end %>
      </div>
    <% end %>
</div>


