Profiles

<ul>
    <% @profiles.each_with_index do |profile, index| %>
        <li>
            <p>
                <%= index + 1 %>.
                User name:      <%= profile[:username] %>
                <br/>
                User email:     <%= profile[:email] %>
                <br/>
                User city:      <%= profile[:user_city] %>
                <br/>
                User state:     <%= profile[:user_state] %>
                <br/>
            </p>
        </li>
    <% end %>
</ul>
