<h2><%= session["username"] %> </h2>

<h3> <%= @user["also called"] %> </h3>
    <div id="profile">
        <ul>
            <li>

                User email:          <%= @profiles[:user_email] %>
                <br/>
                User city:           <%= @profiles[:user_city] %>
                <br/>
                User state:          <%= @profiles:user_state] %>
                <br/>
                House Bills?         <%= @profiles[:house_bills] %>
                <br/>
                Senate Bills?        <%= @profiles[:senate_bills] %>
                <br/>
                Twitter?             <%= @profiles[:twitter] %>
                <br/>
                Five Day Forecast?   <%= @profiles[:weather] %>
                <br>
                Top Stocks?          <%= @profiles[:top_stocks] %>
                <br/>
            </li>
        </ul>
    </div>
